#nt-example1 {
    max-width: 100%;
    margin: auto;
}
#nt-example1-container {
    text-align: center;
}
#nt-example1-container i {
    font-size: 36px;
    margin: 8px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#nt-example1-container i:hover {
    color: #333;
}
#nt-example1 li {
    color: #4e4e4e;
    background: #FFF;
    overflow: hidden;
    height: 48px;
    padding: 10px;
    line-height: 30px;
    list-style: none;
    font-size: 12px;
    text-align: left;
}
#nt-example1 li:hover {
    background: #FFF;
}