@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@import url(/asset/css/angular-wizard.min.css);
@import url(/asset/css/skin-1.css);
@import url(/asset/styles/main.css);
/*@import url(/asset/css/ion.checkRadio.css);
@import url(/asset/css/ion.checkRadio.cloudy.css);*/
body{
	background:#FFF;
	}

#mainTmp{
	.toggle-min,
	.navbar-toggle{
		display:none !important;
		}
	#content{
		left:0 !important;
		top:50px; 
		bottom:50px;
		@media(max-width:767px){
			h1.section-title-inner{
				font-size:20px;
				}
			}
		}
	}
.top-header{
	@media (max-width:767px){
		height:50px;
		}
	.logo {
		@media (max-width:767px){
			padding-right:25px;
			}
		line-height: 42px;
		img {
			height: 38px;
			}
		}
	.top-nav{
		@media (max-width:767px){
			padding:0;
			}
		border-bottom: 1px solid #f5f5f5;
		.nav-right{
			margin-bottom:0;
			.dropdown-menu.panel .media .media-body{
				padding-right:0;
				span.block{
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					}
				}
			}
		.nav-left{
			margin-bottom:0;
			.dropdown-menu{
				border-top:none;
				}
			.piuPadding{
				@media (max-width: 767px){
					padding:14px 24px;
					}
				}
			.visible-xs{
				@media (max-width:409px){
					img.sm{
						display:none !important;
						}
					img.img30_30{
						display:block !important;
						}
					}
				@media (min-width:410px){
					img.img30_30{
						display:none !important;
						}
					img.sm{
						display:block !important;
						}
					}
				}
			}
		}
	.navbar-toggle{
		@media (max-width: 767px){
			background:rgba(0, 0, 0, 0.2) !important;
			border-color:#ddd;
			float: left;
			margin-bottom: 5px;
			margin-left: 15px;
			margin-top: 5px;
			.icon-bar {
				border: 2px solid #fff;
				}
			}
		@media (max-width: 400px){
			padding:9px 10px;
			}
		}
	}
.on-canvas .top-header .navbar-toggle{
	margin-left:235px;
	}
.on-canvas .top-header .top-nav{
	margin-left:0;
	}
/**************************************************************************************************/
/****************************** BUG DEL SELECT INTERNO AL TEMA ************************************/
/**************************************************************************************************/
.custom-select {
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
	max-width: 100%;
	z-index: 1;
	&:hover {
		border-color: #999;
		}
	&:before {
		color: #CBD5DD;
		display: block;
		font-family: 'FontAwesome';
		font-size: 1em;
		height: 100%;
		line-height: 2.5em;
		padding: 0 1.625em;
		position: absolute;
		top: 0;
		right: 0;
		text-align: center;
		width: 1em;
		z-index: -1;
		}
	select {
		background-color: transparent;
		border: 0 none;
		box-shadow: none;
		color: #767676;
		display: block;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: bold;
		text-indent: 0.01px;
		text-overflow: "";
		cursor: pointer;
		line-height: normal;
		margin: 0;
		padding:10px 15px 10px 10px;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		&::-ms-expand {
			display: none; /* to ie 10 */
			}
		&:focus {
			outline: none;
			}
		}
	}
:-moz-any(.custom-select):before {
	background-color: #fff; /* this is necessary for overcome the caret default browser */
	pointer-events: none; /* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events  */
	z-index: 1; /* this is necessary for overcome the pseudo element */
	}
/**************************************************************************************************/
/************************************** ACCEDI CON SOCIAL NETWORK *********************************/
/**************************************************************************************************/
.sns-signin {
	margin-top: 0;
	@media(max-width:767px){
		margin-top: 10px;
		}
	a {
		margin-bottom: 0;
		display: block;
		color: #ffffff;
		span {
			margin-left: 30px;
			}
		&.facebook {
			background-color: #3e4764;
			-webkit-transition: background-color 300ms linear;
			-moz-transition: background-color 300ms linear;
			-o-transition: background-color 300ms linear;
			-ms-transition: background-color 300ms linear;
			transition: background-color 300ms linear;
			&:hover {
				background-color: #235B97;
				}
			.fa-facebook {
				color: #eaeaea;
				background-color: #505050;
				padding: 15px 19px 15px 18px;
				@media(max-width:767px){
					width:45px;
					}
				}
			}
		&.google-plus {
			background-color: #e66060;
			-webkit-transition: background-color 300ms linear;
			-moz-transition: background-color 300ms linear;
			-o-transition: background-color 300ms linear;
			-ms-transition: background-color 300ms linear;
			transition: background-color 300ms linear;
			&:hover {
				background-color: #EC574B;
				}
			.fa-google-plus {
				color: #eaeaea;
				background-color: #505050;
				padding: 15px;
				@media(max-width:767px){
					width:45px;
					}
				}
			}
		}
	}
/* =============================================================== */
/* CART PAGE
/* =============================================================== */

.quanitySniper {
	height: 30px;
	padding: 0;
	text-align: center;
	width: 40px;
}
tr.CartProduct td, tr.CartProduct th {
	text-align: center;
}
/*tr.CartProduct td:nth-child(2) {
 text-align: left;
}*/
.cartTable {
	border-top: solid 1px #EBEDEF;
}
.cartTableHeader {
	background: #EBEDEF;
}
.cartFooter {
	padding: 20px;
	border-top: solid 1px #eee;
	background: #EBEDEF;
	display: inline-block;
	width: 100%;
}
#cart-summary tr td:nth-child(2) {
 text-align: right;
}
/* =============================================================== */
/* Right side bar  //> .rightSidebar //> if needed
/* =============================================================== */

.caps {
	border-top: 0 none;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 16px;
	overflow: hidden;
	padding: 0 0 16px;
	text-align: right;
	text-transform: uppercase;
}
.rightSidebar #cart-summary {
	margin-top: 0;
}
.rightSidebar #cart-summary tr:first-child td {
	border: none;
}
.cartMiniTable {
	border: 1px solid #DDDDDD;
	padding: 10px;
}
.rightSidebar img {
	max-width: 100px;
	max-height:80px;
	@media (min-width:992px) and (max-width:1199px){
		max-width:70px;
		}
}
.rightSidebar .section-title-inner {
}
.categoryListPanel {
	background: #EBEDEF;
}
.contentBox {
	margin-bottom: 15px;
}
.rightSidebar .product-image img {
	float: left;
	max-width: 100%;
	width: 90px;
	margin-right: 10px;
}
.rightSidebar .product {
	padding: 10px 0;
}
.rightSidebar .item {
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 0;
}
.rightSidebar .item h4 {
	margin-top: 0;
}
.item h4 a {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
}
.couponForm input[type="text"] {
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	height: 33px;
}
.couponForm .btn {
	border-radius: 0 3px 3px 0;
}
span.success, p.success div.success {
	color: #8BB418;
}
#total-price {
	font-size: 22px;
	font-weight: bold;
}
/* =============================================================== */
/*  CHECKOUT PAGE START
/* =============================================================== */

.orderStep {
	clear: both;
	display: inline-block;
	height: auto;
	padding: 0;
	margin-bottom: 30px;
	width: 100%;
}
.orderStep li {
	display: inline-block;
	float: left;
	height: auto;
	margin: 0;
	min-height: 55px;
	padding: 0;
	width: 25%;
}
.orderStep li.active a {
	color: #fff;
	background:#ef9549;
}
.orderStep li.active a {
	position: relative;
}
.orderStep li.active a:after {
	top: 100%;
	border-top-color: #ef9549 !important;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-width: 10px;
	margin-left: -10px;
}
.orderStep li a {
	background: #EFF0F2;
	display: inline-block;
	font-size: 14px;
	height: 100%;
	line-height: normal;
	padding: 20px 0 0;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	text-transform: uppercase;
	font-size: 13px;
}
.orderStep li a:hover{
	text-decoration:none;
	}
.orderStep li a i {
	background: rgba(0, 0, 0, 0.05);
}
.orderStep li.active a i {
	background: rgba(0, 0, 0, 0.1);
	color: #FFFFFF;
}
.orderStep li a i {
	border-radius: 0;
	display: block;
	font-size: 20px;
	height: auto;
	left: 0;
	line-height: 40px;
	margin-top: -20px;
	padding: 0;
	text-align: center;
	width: auto;
	float: none !important;
}
.orderStep li a span {
	display: block;
	padding: 5px 0;
	@media(max-width:767px){
		height:42px;
		font-size:10px;
		}
}
/* payment */

.paymentBox {
	margin-bottom: 30px;
	display: block;
}
.checkoutReview .CartProductThumb a img, .checkoutReview .CartProductThumb a img {
	width: 50px;
}
/* =============================================================== */
/* Account// Address // Order //  Creation
/* =============================================================== */

.myAccountList li {
	text-align: center;
}
.myAccountList li a {
	font-size: 14px;
	display: block;
}
.myAccountList .thumbnail {
	padding: 10px 0 0;
}
.myAccountList .thumbnail:hover {
	background: #F5F5F5;
}
.myAccountList li a i {
	display: block;
	clear: both;
	font-size: 44px;
	margin-bottom: 10px;
}
h2.block-title-2, .formBox h3, .block-title-2 {
	border-bottom: 1px solid #CECECE;
	font-size: 13px;
	font-weight: bold;
	margin: 0 0 15px;
	padding: 10px 0 0;
	position: relative;
	text-transform: uppercase;
}
.panel-footer-address .btn {
	margin-right: 5px;
}
/*------- cart & Wisth list -------*/

.CartProductThumb a img, .CartProductThumb a img {

	width: 86px;
	max-width: 100%;
}
tr.CartProduct {
	border-bottom: 1px solid #E7E9EC;
}
tr.CartProduct td {
	padding: 10px 0;
}
/* mycart */

.cartTableHeader {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}
.panel-default>.panel-heading{
	background-color:#fff;
	border-top-color:#ef9549;
	}
.site-color{
	color:#ef9549 !important;
	}
.price {
	font-size: 18px;
	font-weight: bold;
	color: #2c3e50;
}

/**************************************************************************************************/
/********************************************* FOOTER *********************************************/
/**************************************************************************************************/
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #fff;
	height: 49px;
	border-top: solid 1px #e7e7e7;
	line-height:46px;
	font-family: 'Source Sans Pro', sans-serif;
	@media (max-width: 1299px){
		padding:0 15px;
		}
	ul{
		font-size:13px;
		&.list-inline{
			margin:0;
			}
		}
	a:hover{
		color:#ff8627;
		}
	[class*="col-"].text-right{
		line-height: 18px;
		padding-top:5px;
		}
	}