.h15 {
	height:15px;
	}
#help-page {
	.affix {
		padding-right:80px;
		}
	.list-group {
		a {
			padding:5px 15px !important;	
			}	
		} 
	}
@media (max-width:979px) {
	.affix {
		position:relative !important;
		padding-right: 15px !important;
		}
	}