@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
/*
@import url(/asset/css/angular-wizard.min.css);
@import url(/asset/css/skin-1.css);
@import url(/asset/styles/main.css);
@import url(/asset/css/ngActivityIndicator.min.css);
@import url(/asset/css/ng-sortable.min.css);
@import url(/asset/css/paolo.css);
*/
.bg-cyan {
    color: #1ba1e2 !important;
}
.bg-teal {
    color: #00aba9 !important;
}
.bg-arancio {
    color: #fa6800 !important;
}
.bg-steel {
    color: #647687 !important;
}
.bg-violet {
    color: #aa00ff !important;
	background-color:transparent !important;
}
.bg-emerald {
    color: #008a00 !important;
}
.collection-color {
	i {
		font-size:20px;
		vertical-align:sub;
		}
	}
.content-loading {
	position: absolute;
	top: 50%;
	left: 50%;
	}
.segui_btn{
	background:rgba(232,115,82,0.9);
	border-color:rgb(232,115,82);
	color:#FFF;
	}

.ta-scroll-window > .ta-bind, .ta-scroll-window.form-control{
	min-height:200px;	
	}
.altezzaSelect{
	.dropdown-menu{
		padding-bottom:0;
		margin-bottom:0;
		min-width:300px;
		.panel{
			margin-bottom:0;
			.panel-body{
				max-height:200px;
				overflow-x:hidden;
				overflow-y: auto;
				}
			}
		}
	.dropup{
		button{
			max-width:200px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			&.btn-block{
				max-width:100%;
				}
			}
		}
	}

.page-err .err-container{
	padding-bottom:100px;
	}
/**************************************************************************************************/
/****************************** BUG DEL SELECT INTERNO AL TEMA ************************************/
/**************************************************************************************************/
.custom-select {
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
	max-width: 100%;
	z-index: 1;
	&:hover {
		border-color: #999;
		}
	&:before {
		color: #CBD5DD;
		display: block;
		font-family: 'FontAwesome';
		font-size: 1em;
		height: 100%;
		line-height: 2.5em;
		padding: 0 1.625em;
		position: absolute;
		top: 0;
		right: 0;
		text-align: center;
		width: 1em;
		z-index: -1;
		}
	select {
		background-color: transparent;
		border: 0 none;
		box-shadow: none;
		color: #767676;
		display: block;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: bold;
		text-indent: 0.01px;
		text-overflow: "";
		cursor: pointer;
		line-height: normal;
		margin: 0;
		padding:10px 15px 10px 10px;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		&::-ms-expand {
			display: none; /* to ie 10 */
			}
		&:focus {
			outline: none;
			}
		}
	}
:-moz-any(.custom-select):before {
	background-color: #fff; /* this is necessary for overcome the caret default browser */
	pointer-events: none; /* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events  */
	z-index: 1; /* this is necessary for overcome the pseudo element */
	}
/**************************************************************************************************/
/********************************************* SINGOLA APP ****************************************/
/**************************************************************************************************/
.servie-desc {
	clear: left;
	}
.slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
	.slide {
		position: absolute;
		top: 0;
		left: 0;
		&.nonDraggableImage{
			-webkit-user-drag: none;
			}
		}
	}
.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../img/blank.gif) no-repeat;
	&.prev {
		opacity: 0.2;
		left: 20px;
		background-image: url(../img/paddle_prev_999.png);
		transition: 0.2s linear all;
		&:hover {
			opacity: 1;
			background-image: url(../img/paddle_prev_fff.png);
			}
		}
	&.next {
		opacity: 0.2;
		right: 20px;
		background-image: url(../img/paddle_next_999.png);
		transition: 0.2s linear all;
		&:hover {
			opacity: 1;
			background-image: url(../img/paddle_next_fff.png);
			}
		}
	}



#apps-app{
	.nav {
		text-align: center;
		display: block;
		position: absolute;
		z-index: 1002;
		left: 0;
		bottom: -4px;
		right: 0;
		height: 48px;
		.wrapper {
			margin: 0 auto;
			width: 100%;
			padding: 1em 0 .8em;
			}
		ul.dots {
			margin: 0;
			width: 100%;
			.dot {
				position: relative;
				margin: 0 8px;
				width: 12px;
				height: 12px;
				display: inline-block;
				zoom: 1;
				a {
					display: inline-block;
					zoom: 1;
					position: absolute;
					top: 2px;
					left: 2px;
					width: 6px;
					height: 6px;
					text-indent: 100%;
					white-space: nowrap;
					overflow: hidden;
					background: #FFF;
					border: 1px solid transparent;
					outline: none;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					box-shadow: none;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
					-webkit-transition: background-color 0.25s, border-color 0.25s;
					-moz-transition: background-color 0.25s, border-color 0.25s;
					transition: background-color 0.25s, border-color 0.25s;
					&.active {
						border-color: #FFF;
						background-color: transparent;
						}
					}
				}
			}
		}
	}

.top-header{
	.logo {
		@media (max-width:767px){
			padding-right:25px;
			}
		line-height: 42px;
		img {
			height: 38px;
			}
		}
	.top-nav{
		@media (max-width:767px){
			padding:0;
			}
		border-bottom: 1px solid #f5f5f5;
		.nav-right{
			margin-bottom:0;
			.dropdown-menu.panel .media .media-body{
				padding-right:0;
				span.block{
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					}
				}
			}
		.nav-left{
			margin-bottom:0;
			.dropdown-menu{
				border-top:none;
				}
			.piuPadding{
				@media (max-width: 767px){
					padding:14px 24px;
					}
				}
			.visible-xs{
				@media (max-width:409px){
					img.sm{
						display:none !important;
						}
					img.img30_30{
						display:block !important;
						}
					}
				@media (min-width:410px){
					img.img30_30{
						display:none !important;
						}
					img.sm{
						display:block !important;
						}
					}
				}
			}
		}
	.navbar-toggle{
		@media (max-width: 767px){
			background:rgba(0, 0, 0, 0.2) !important;
			border-color:#ddd;
			float: left;
			margin-bottom: 5px;
			margin-left: 15px;
			margin-top: 5px;
			.icon-bar {
				border: 2px solid #fff;
				}
			}
		@media (max-width: 400px){
			padding:9px 10px;
			}
		}
	}
.on-canvas .top-header .navbar-toggle{
	margin-left:235px;
	}
.on-canvas .top-header .top-nav{
	margin-left:0;
	}

#social_dashboard{
	#blog-landing {
		position: relative;
		max-width: 100%;
		width: 100%;
		.tl-content{
				position: absolute;
				background: white;
				box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
				padding: 10px;
			.nav {
				position: relative;
				height: auto;
				}
			span.badge {
				position: absolute;
				right: 30%;
				top: 5px;
				@media (max-width: 767px){
					right:20%;
					}
				@media (min-width:768px) and (max-width:991px ){
					right:30%;
					}
				@media (max-width: 767px) and (min-width:480px){
					right:40%;
					}
				@media (max-width: 479px){
					right:35%;
					}
				}
			.media.corpo > .pull-left > img{
				max-height:100px;
				}
			.btn{
				@media (min-width:768px) and (max-width:991px ){
					width:100%;
					float:none;
					}
				@media (max-width: 479px){
					width:100%;
					float:none;
					}
				}
			}
		}
	.fa-ghost-icon{
		content:url(../img/ghost-icon.png);
		width:50px;
		height:46px;
		}
	}

/**************************************************************************************************/
/************************************ COPERTINA HOME PERSONALE ************************************/
/**************************************************************************************************/
.copertina{
	.panel-item {
		@media (max-width: 767px){
			display: block;
			width: 100% !important;
			&.panel-right{
				display:none;
				}
			}
		.panel-right div{
			max-width:100px;
			max-height:100px;
			margin:0 auto;
			background:#FFF;
			img{
				max-height:100px;
				max-width:100px;
				}
			}
		p{
			/*height:200px;*/
			margin-top:0;
			margin-bottom:30px;
			text-align:justify;
			overflow:hidden;
			@media (max-width:767px){
				height:auto;
				margin-top:auto;
				margin-bottom:auto;
				clear:both;
				padding-top:10px;
				}
			}
		.titolo_shop {
			height:125px;
			margin-right:40px;
			h3{
				margin-top:0px;
				max-height:75px;
				overflow:hidden;
				}
			h4{
				max-height:45px;
				overflow:hidden;
				}
			@media (max-width:767px){
				clear:left;
				margin-right:125px;
				}
			}
		.avatar_negozio {
			margin-left:-85px;
			margin-top:0px;
			box-shadow: 0 0 0 5px #51d3d1, 0 0 10px 0 rgba(0, 0, 0, 0.2);
			position:relative;
			.file-input-wrapper{
				position:absolute;
				bottom:0;
				left:0;
				font-size:15px;
				background:rgba(232,115,82,0.9);
				border-color:rgb(232,115,82);
				color:#FFF;
				border-right:none;
				}
			img{
				width:auto;
				min-width:110px;
				@media (max-width:767px){
					width:110px;
					height:auto;
					}
				}
			span.file-input-name{
				display:none;
				}
			}
		}
	.panel-right{
		width:2%;
		background-repeat:no-repeat;
		background-position:center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		}
	}
/*.mini-box {
	min-height: 0;
	padding: 5px;
	}*/

/**************************************************************************************************/
/****************************************** CATEGORIE APPS ****************************************/
/**************************************************************************************************/
#content {
	@media (min-width: 768px){
		margin-top:50px;
		}
	.lapagina{
		position:relative;
		width:100%;
		.nav {
			bottom: 2px !important;
			}
		.navbar-static-top {
			z-index:9 !important;
			}
		.navbar-default {
			background-color: #FFF;
			.breadcrumb {
				background-color: #fff;
				margin-bottom: 0;
				padding: 14px 15px;
				}
			}
		@media (max-width: 767px){
			nav.navbar-static-top.navbar-default{
				margin-left: 0 !important;
				padding-left: 0 !important;
				.navbar-nav{
					float: left;
					margin: 0;
					&.navbar-right{
						float:right;
						.navbar-form{
							margin: 0 -15px;
							border: none;
							padding:8px 15px;
							}
						}
					}
				}
			}
		nav.navbar-static-top.navbar-default{
			position: fixed;
			width: 100%;
			margin-left: -220px;
			padding-left: 220px;
			padding-right: 15px;
			top:50px;
			 .navbar-header {
				float: left;
				text-align: center;
				width: 100%;
				position:relative;
				.navbar-nav {
					position: relative;
					top:0;
					}
				.navbar-center{
					position: absolute;
					width: 100%;
					left: 0;
					top: 0;
					text-align: center;
					margin: auto;
					height:100%;
					.navbar-brand {
						float:none;
						padding:0px;
						max-height:49px;
						}
					}
				}
			}
		#apps-cat {
			.page {
				h2 {
					margin-top:0px;
					line-height:0.8;
					}
				.clearfix {
					margin-bottom:10px;
					}
				.contCard{
					overflow: hidden;
					height:256px;
					}
				.card {
					width:160px;
					height:245px;
					float:left;
					margin-right:10px;
					&.panel-box {
						.panel-top {
							padding:15px 0px !important;
							}
						.panel-bottom {
							text-align:left;
							&:last-child {
								padding:0px 10px 5px 10px;
								}
							}
						}
					}
				}
			}
		}
	}
body.nav-min{
	#content{
		.lapagina{
			nav.navbar-static-top.navbar-default{ /* Diminuizione padding left della seconda barra (fissa) nelle visualizzazione a sidebar chiusa */
				margin-left: -60px;
				padding-left: 60px;
				}
			}
		}
	}
#mainTmp{
	.toggle-min{
		display:none !important;
		}
	#content{
		left:0 !important;
		top:50px;
		@media(max-width:767px){
			top:100px;
			}
		.lapagina{
			nav.navbar-static-top.navbar-default{ /* Diminuizione padding left della seconda barra (fissa) nelle visualizzazione a sidebar chiusa */
				margin-left: 0 !important;
				padding-left: 0 !important;
				}
			}
		}
	}
/**************************************************************************************************/
/************************************************ PRODOTTI ****************************************/
/**************************************************************************************************/
ul#uploadImg{
	li{
		float:left;
		margin-right:10px;
		position:relative;
		> div{
			&:first-child{
				border:solid 1px #CCC;
				margin-top:10px;
				margin-bottom:10px;
				}
			&:nth-child(2) {
				position: absolute;
				top: 11px;
				right: 1px;
				}
			}
		label.switch{
			margin-left: -27px;
			padding-left: 50%;
			}
		}
	}



.accordion {
  background: #5ab2ca;
  width: 100%;
  /*position: fixed;
  height: 200px;
  margin-top: -100px;
  left: 0;
  top: 50%;
  overflow: hidden;*/
  ul {
	margin-left: -40px;
	list-style-type: none;
	li {
		overflow: hidden;
		position: relative;
		background-color: #6dc5dd;
		border-right: #5ab2ca 1px solid;
		width: 80px;
		height: 200px;
		float: left;
		display: block;
		-moz-transition: all 0.4s 0.1s ease-out;
		-o-transition: all 0.4s 0.1s ease-out;
		-webkit-transition: all 0.4s 0.1s;
		-webkit-transition-delay: ease-out;
		transition: all 0.4s 0.1s ease-out;
		&:hover {
			width: 440px;
			a{
				&:first-child {
					margin-left: -100px;
					}
				&:nth-child(2) {
					margin-left: -5px;
					}
				}
			}
		}
	}
}

.accordion .paragraph {
	position: relative;
	width: 360px;
	margin-left: 80px;
	padding: 50px 0 0 10px;
	height: 200px;
	background: #fff;
	h1 {
		font-size: 2.5em;
		margin-bottom: 10px;
		}
	p {
		font-size: 0.88em;
		line-height: 1.5em;
		padding-right: 30px;
		}
	}

/**************************************************************************************************/
/**************************************** AGGIUNGI NEGOZIO ****************************************/
/**************************************************************************************************/
#addNegozio{
	.panel-body {
		position: relative;
		padding: 70px 100px;
		}
	.steps-indicator {
		top:50px;
		position: absolute;
		width: 50%;
		margin: 0px auto;
		}
	.list-info li label {
		width: 200px;
		}
	}
.img110_110{
	width:110px;
	height:110px;
	}
.relative {
	position:relative
	}
.segui_btn {
	position:absolute;
	top:0px;
	right:0px;
	}
/**************************************************************************************************/
/************************ TABLE RESPONSIVE ANCHE A MONITOR GRANDE *********************************/
/**************************************************************************************************/
@media screen and (min-width: 768px){
	.table-responsive{
		width:100%;
		margin-bottom:0;
		overflow-y:hidden;
		overflow-x:auto;
		-ms-overflow-style:-ms-autohiding-scrollbar;
		border:none;
		-webkit-overflow-scrolling:touch
		}
	}


.aiuto.ui-accordion .panel-heading .panel-title > a {
	font-size:20px;
	}
/**************************************************************************************************/
/***************************** PRODOTTO NEL PROCESSO DI PAGAMENTO *********************************/
/**************************************************************************************************/
#paymentChoice{
	figure{
		background:#fefefe;
		border:2px solid rgba(34,25,25,.1);
		margin:0 0 20px;
		-moz-transition:all .4s ease-in-out;
		display:inline-block;
		-webkit-column-break-inside:avoid;
		column-break-inside:avoid;
		-moz-column-break-inside:avoid;
		a{ 
			display:block;
			overflow:hidden;
			img{
				width:100%;
				height:auto;
				}
			}
		> div{
			position: relative;
			background: #FFF;
			width: 100%;
			display: block;
			}
		figcaption{
			&.prezzo{
				height:40px;
				line-height:40px;
				text-align:center;
				background:#fcf0e0;
				color:#c1392b;
				font-size:18px;
				font-weight:bold;
				}
			&.negozio{
				margin-left:15px;
				margin-right:15px;
				margin-bottom:10px;
				color:#999;
				padding-top:10px; 
				border-top:1px solid #ddd;
				line-height:normal;
				font-weight:bold;
				img {
					float:left;
					margin-right:10px;
					transform: none;	 
					}
				span{
					display:block;
					}
				a{
					color:#999;
					}
				}
			&.nomprod{
				padding:10px 15px; 
				width: auto;
				overflow: hidden; 
				font-weight:bold;
				line-height:normal;
				a {
					color:#ff8627;
					font-size:16px;	
					}				
				}
			}
		}
	}
/**************************************************************************************************/
/************************************** ACCEDI CON SOCIAL NETWORK *********************************/
/**************************************************************************************************/
.sns-signin {
	margin-top: 0;
	@media(max-width:767px){
		margin-top: 10px;
		}
	a {
		margin-bottom: 0;
		display: block;
		color: #ffffff;
		span {
			margin-left: 30px;
			}
		&.facebook {
			background-color: #3e4764;
			-webkit-transition: background-color 300ms linear;
			-moz-transition: background-color 300ms linear;
			-o-transition: background-color 300ms linear;
			-ms-transition: background-color 300ms linear;
			transition: background-color 300ms linear;
			&:hover {
				background-color: #235B97;
				}
			.fa-facebook {
				color: #eaeaea;
				background-color: #505050;
				padding: 15px 19px 15px 18px;
				@media(max-width:767px){
					width:45px;
					}
				}
			}
		&.google-plus {
			background-color: #e66060;
			-webkit-transition: background-color 300ms linear;
			-moz-transition: background-color 300ms linear;
			-o-transition: background-color 300ms linear;
			-ms-transition: background-color 300ms linear;
			transition: background-color 300ms linear;
			&:hover {
				background-color: #EC574B;
				}
			.fa-google-plus {
				color: #eaeaea;
				background-color: #505050;
				padding: 15px;
				@media(max-width:767px){
					width:45px;
					}
				}
			}
		}
	}

/* =============================================================== */
/*  CHECKOUT PAGE START
/* =============================================================== */

.orderStep {
	clear: both;
	display: inline-block;
	height: auto;
	padding: 0;
	margin-bottom: 30px;
	width: 100%;
}
.orderStep li {
	display: inline-block;
	float: left;
	height: auto;
	margin: 0;
	min-height: 55px;
	padding: 0;
	width: 25%;
}
.orderStep li.active a {
	color: #fff;
}
.orderStep li.active a {
	position: relative;
}
.orderStep li.active a:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-width: 10px;
	margin-left: -10px;
}
.orderStep li a {
	background: #EFF0F2;
	display: inline-block;
	font-size: 14px;
	height: 100%;
	line-height: normal;
	padding: 20px 0 0;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	text-transform: uppercase;
	font-size: 13px;
}
.orderStep li a i {
	background: rgba(0, 0, 0, 0.05);
}
.orderStep li.active a i {
	background: rgba(0, 0, 0, 0.1);
	color: #FFFFFF;
}
.orderStep li a i {
	border-radius: 0;
	display: block;
	font-size: 20px;
	height: auto;
	left: 0;
	line-height: 40px;
	margin-top: -20px;
	padding: 0;
	text-align: center;
	width: auto;
	float: none !important;
}
.orderStep li a span {
	display: block;
	padding: 5px 0;
}
/* payment */

.paymentBox {
	margin-bottom: 30px;
	display: block;
}
.checkoutReview .CartProductThumb a img, .checkoutReview .CartProductThumb a img {
	width: 50px;
}
/* =============================================================== */
/* Account// Address // Order //  Creation
/* =============================================================== */

.myAccountList li {
	text-align: center;
}
.myAccountList li a {
	font-size: 14px;
	display: block;
}
.myAccountList .thumbnail {
	padding: 10px 0 0;
}
.myAccountList .thumbnail:hover {
	background: #F5F5F5;
}
.myAccountList li a i {
	display: block;
	clear: both;
	font-size: 44px;
	margin-bottom: 10px;
}
h2.block-title-2, .formBox h3, .block-title-2 {
	border-bottom: 1px solid #CECECE;
	font-size: 13px;
	font-weight: bold;
	margin: 0 0 15px;
	padding: 10px 0 0;
	position: relative;
	text-transform: uppercase;
}
.panel-footer-address .btn {
	margin-right: 5px;
}
/*------- cart & Wisth list -------*/

.CartProductThumb a img, .CartProductThumb a img {
	width: 86px;
	max-width: 100%;
}
tr.CartProduct {
	border-bottom: 1px solid #E7E9EC;
}
tr.CartProduct td {
	padding: 10px 0;
}
/* mycart */

.cartTableHeader {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}