/**************************************************************************************************/
/****************************** BUG DEL SELECT INTERNO AL TEMA ************************************/
/**************************************************************************************************/
.custom-select {
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
	max-width: 100%;
	z-index: 1;
	&:hover {
		border-color: #999;
		}
	&:before {
		color: #CBD5DD;
		display: block;
		font-family: 'FontAwesome';
		font-size: 1em;
		height: 100%;
		line-height: 2.5em;
		padding: 0 1.625em;
		position: absolute;
		top: 0;
		right: 0;
		text-align: center;
		width: 1em;
		z-index: -1;
		}
	select {
		background-color: transparent;
		border: 0 none;
		box-shadow: none;
		color: #767676;
		display: block;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: bold;
		text-indent: 0.01px;
		text-overflow: "";
		cursor: pointer;
		line-height: normal;
		margin: 0;
		padding:10px 15px 10px 10px;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		&::-ms-expand {
			display: none; /* to ie 10 */
			}
		&:focus {
			outline: none;
			}
		}
	}
:-moz-any(.custom-select):before {
	background-color: #fff; /* this is necessary for overcome the caret default browser */
	pointer-events: none; /* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events  */
	z-index: 1; /* this is necessary for overcome the pseudo element */
	}
/**************************************************************************************************/
/********************************************* SINGOLA APP ****************************************/
/**************************************************************************************************/
.servie-desc {
	clear: left;
	}
.slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
	.slide {
		position: absolute;
		top: 0;
		left: 0;
		&.nonDraggableImage{
			-webkit-user-drag: none;
			}
		}
	}
.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../img/blank.gif) no-repeat;
	&.prev {
		opacity: 0.2;
		left: 20px;
		background-image: url(../img/paddle_prev_999.png);
		transition: 0.2s linear all;
		&:hover {
			opacity: 1;
			background-image: url(../img/paddle_prev_fff.png);
			}
		}
	&.next {
		opacity: 0.2;
		right: 20px;
		background-image: url(../img/paddle_next_999.png);
		transition: 0.2s linear all;
		&:hover {
			opacity: 1;
			background-image: url(../img/paddle_next_fff.png);
			}
		}
	}



#apps-app{
	.nav {
		text-align: center;
		display: block;
		position: absolute;
		z-index: 1002;
		left: 0;
		bottom: -4px;
		right: 0;
		height: 48px;
		.wrapper {
			margin: 0 auto;
			width: 100%;
			padding: 1em 0 .8em;
			}
		ul.dots {
			margin: 0;
			width: 100%;
			.dot {
				position: relative;
				margin: 0 8px;
				width: 12px;
				height: 12px;
				display: inline-block;
				zoom: 1;
				a {
					display: inline-block;
					zoom: 1;
					position: absolute;
					top: 2px;
					left: 2px;
					width: 6px;
					height: 6px;
					text-indent: 100%;
					white-space: nowrap;
					overflow: hidden;
					background: #FFF;
					border: 1px solid transparent;
					outline: none;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					box-shadow: none;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
					-webkit-transition: background-color 0.25s, border-color 0.25s;
					-moz-transition: background-color 0.25s, border-color 0.25s;
					transition: background-color 0.25s, border-color 0.25s;
					&.active {
						border-color: #FFF;
						background-color: transparent;
						}
					}
				}
			}
		}
	}

.top-header .logo {
	@media (max-width:767px){
		padding-right:25px;
		}
	line-height: 42px;
	img {
		height: 38px;
		}
	}

#social_dashboard{
	#blog-landing {
		position: relative;
		max-width: 100%;
		width: 100%;
		.tl-content{
				position: absolute;
				background: white;
				box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
				padding: 10px;
			.nav {
				position: relative;
				height: auto;
				}
			span.badge {
				position: absolute;
				right: 30%;
				top: 5px;
				@media (max-width: 767px){
					right:20%;
					}
				@media (min-width:768px) and (max-width:991px ){
					right:30%;
					}
				@media (max-width: 767px) and (min-width:480px){
					right:40%;
					}
				@media (max-width: 479px){
					right:35%;
					}
				}
			.media.corpo > .pull-left > img{
				max-height:100px;
				}
			.btn{
				@media (min-width:768px) and (max-width:991px ){
					width:100%;
					float:none;
					}
				@media (max-width: 479px){
					width:100%;
					float:none;
					}
				}
			}
		}
	.fa-ghost-icon{
		content:url(../img/ghost-icon.png);
		width:50px;
		height:46px;
		}
	}

.copertina{
	.panel-item {
		@media (max-width: 767px){
			display: block;
			width: 100% !important;
			}
		div{
			max-width:100px;
			max-height:100px;
			margin:0 auto;
			background:#FFF;
			img{
				max-height:100px;
				max-width:100px;
				}
			}
		p{
			height:200px;
			margin-top:75px;
			margin-bottom:30px;
			text-align:justify;
			}
		}
	.panel-right{
		width:2%;
		background-repeat:no-repeat;
		background-position:center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		}
	}
/*.mini-box {
	min-height: 0;
	padding: 5px;
	}*/

/**************************************************************************************************/
/****************************************** CATEGORIE APPS ****************************************/
/**************************************************************************************************/
#content {
	@media (min-width: 768px){
		margin-top:50px;
		}
	.lapagina{
		position:relative;
		width:100%;
		.nav {
			bottom: 2px !important;
			}
		.navbar-static-top {
			z-index:9 !important;
			}
		.navbar-default {
			background-color: #FFF;
			.breadcrumb {
				background-color: #fff;
				margin-bottom: 0;
				padding: 14px 15px;
				}
			}
		@media (max-width: 767px){
			nav.navbar-static-top.navbar-default{
				margin-left: 0 !important;
				padding-left: 0 !important;
				.navbar-nav{
					float: left;
					margin: 0;
					&.navbar-right{
						float:right;
						.navbar-form{
							margin: 0 -15px;
							border: none;
							padding:8px 15px;
							}
						}
					}
				}
			}
		nav.navbar-static-top.navbar-default{
			position: fixed;
			width: 100%;
			margin-left: -220px;
			padding-left: 220px;
			padding-right: 15px;
			top:50px;
			 .navbar-header {
				float: left;
				text-align: center;
				width: 100%;
				position:relative;
				.navbar-nav {
					position: relative;
					top:0;
					}
				.navbar-center{
					position: absolute;
					width: 100%;
					left: 0;
					top: 0;
					text-align: center;
					margin: auto;
					height:100%;
					.navbar-brand {
						float:none;
						padding:0px;
						max-height:49px;
						}
					}
				}
			}
		#apps-cat {
			.page {
				h2 {
					margin-top:0px;
					line-height:0.8;
					}
				.clearfix {
					margin-bottom:10px;
					}
				.contCard{
					overflow: hidden;
					height:256px;
					}
				.card {
					width:160px;
					height:245px;
					float:left;
					margin-right:10px;
					&.panel-box {
						.panel-top {
							padding:15px 0px !important;
							}
						.panel-bottom {
							text-align:left;
							&:last-child {
								padding:0px 10px 5px 10px;
								}
							}
						}
					}
				}
			}
		}
	}
body.nav-min{
	#content{
		.lapagina{
			nav.navbar-static-top.navbar-default{ /* Diminuizione padding left della seconda barra (fissa) nelle visualizzazione a sidebar chiusa */
				margin-left: -60px;
				padding-left: 60px;
				}
			}
		}
	}
#mainTmp{
	.toggle-min,
	.menu-button{
		display:none !important;
		}
	#content{
		left:0 !important;
		top:50px;
		@media(max-width:767px){
			top:100px;
			}
		.lapagina{
			nav.navbar-static-top.navbar-default{ /* Diminuizione padding left della seconda barra (fissa) nelle visualizzazione a sidebar chiusa */
				margin-left: 0 !important;
				padding-left: 0 !important;
				}
			}
		}
	}
/**************************************************************************************************/
/************************************************ PRODOTTI ****************************************/
/**************************************************************************************************/
ul#uploadImg{
	li{
		float:left;
		margin-right:10px;
		position:relative;
		> div{
			&:first-child{
				border:solid 1px #CCC;
				margin-top:10px;
				margin-bottom:10px;
				}
			&:nth-child(2) {
				position: absolute;
				top: 11px;
				right: 1px;
				}
			}
		label.switch{
			margin-left: -27px;
			padding-left: 50%;
			}
		}
	}



.accordion {
  background: #5ab2ca;
  width: 100%;
  /*position: fixed;
  height: 200px;
  margin-top: -100px;
  left: 0;
  top: 50%;
  overflow: hidden;*/
  ul {
	margin-left: -40px;
	list-style-type: none;
	li {
		overflow: hidden;
		position: relative;
		background-color: #6dc5dd;
		border-right: #5ab2ca 1px solid;
		width: 80px;
		height: 200px;
		float: left;
		display: block;
		-moz-transition: all 0.4s 0.1s ease-out;
		-o-transition: all 0.4s 0.1s ease-out;
		-webkit-transition: all 0.4s 0.1s;
		-webkit-transition-delay: ease-out;
		transition: all 0.4s 0.1s ease-out;
		&:hover {
			width: 440px;
			a{
				&:first-child {
					margin-left: -100px;
					}
				&:nth-child(2) {
					margin-left: -5px;
					}
				}
			}
		}
	}
}

.accordion .paragraph {
	position: relative;
	width: 360px;
	margin-left: 80px;
	padding: 50px 0 0 10px;
	height: 200px;
	background: #fff;
	h1 {
		font-size: 2.5em;
		margin-bottom: 10px;
		}
	p {
		font-size: 0.88em;
		line-height: 1.5em;
		padding-right: 30px;
		}
	}

/**************************************************************************************************/
/**************************************** AGGIUNGI NEGOZIO ****************************************/
/**************************************************************************************************/
#addNegozio{
	.panel-body {
		position: relative;
		padding: 70px 100px;
		}
	.steps-indicator {
		top:50px;
		position: absolute;
		width: 50%;
		margin: 0px auto;
		}
	.list-info li label {
		width: 200px;
		}
	}
.img110_110{
	width:110px;
	height:110px;
	}
.relative {
	position:relative
	}
.segui_btn {
	position:absolute;
	top:0px;
	right:0px;
	}