@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
@import url(/asset/signin/css/animation.css);
@import url(/asset/signin/css/checkbox/orange.css);
body{
  background-color: #eaeaea;
}
.authenty{
	font-family: 'Open Sans', sans-serif;
	background-color: #eaeaea;
	[data-animation] {
		opacity: 0;
		}
	ul {
		list-style-type: none;
		}
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 400;
		}
	 h1 {
		font-weight: 700;
		letter-spacing: -1px;
		}
	a:hover {
		text-decoration: none;
		}
	.btn {
		border-radius: 0;
		&:active {
			box-shadow: none;
			border-radius: 0px!important;
			}
		&:focus {
			outline: thin dotted #FFFFFF;
			outline-offset: 0;
			color:#FFF;
			}
		:hover {
			color: #fff;
			}
		}
	.form-control:focus {
		border-color: #ff7000;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 112, 0, 0.6);
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 122, 0, 0.6);
		transition: border-color 0.7s, box-shadow 0.7s;
		-webkit-transition: border-color 0.7s, box-shadow 0.7s;
		}
	.wrap {
		width: 100%;
		}
	.top-buffer {
		margin-top: 20px;
		}
	&.signin-flusso{
		margin-bottom:30px;
		.top-signin-flusso{
			h1{
				line-height:50px;
				margin:0;
				}
			img{
				max-height:50px;
				}
			}
		}
	&.signin-alt {
		background-color: #eaeaea;
		color: #eaeaea;
		label {
			font-weight: normal;
			}
		.section-content {
			padding: 0;
			.wrap {
				.container {
					@media (max-width: 991px){
						padding-right: 15px;
						padding-left: 15px;
						}
					padding-top: 20px;
					.normal-signin{
						.un-wrap,
						.pw-wrap {
							position: relative;
							.fa{
								position: absolute;
								top: 2px;
								left: 1px;
								color: #515561;
								font-size: 14pt;
								padding: 10px 14px;
								background-color: #1C1F25;
								}
							}
						input{
							padding-left: 60px;
							border-radius: 0;
							border: 1px solid #7A8086;
							margin-bottom: 20px;
							color: #cccccc;
							background-color: #282A38;
							height: 42px;
							}
						@media(max-width:767px){
							margin-bottom:40px;
							}
						}
					.horizontal-divider {
						margin: 0 auto;
						position: relative;
						width: 0px;
						top: 0;
						background-color: #ffffff;
						&:before {
							content: 'O';
							position: absolute;
							top: 110px;
							left: -30px;
							padding: 20px 24px 20px 27px;
							font-size: 18px;
							background: #3e4764;
							border-radius: 50%;
							color: #ffffff;
							@media (max-width: 991px) {
								top: 10px;
								left: -30px;
								padding: 20px;
								font-size: 16px;
								}
							}
						}
					.normal-registrazione{
						input {
							background-color: #404040;
							padding-left: 20px;
							border-radius: 0;
							border: none;
							margin-bottom: 10px;
							color: #cccccc;
							height: 43px;
							}
						@media(max-width:767px){
							margin-bottom:20px;
							}
						}
					.sns-signin {
						margin-top: 0;
						@media(max-width:767px){
							margin-top: 10px;
							}
						a {
							margin-bottom: 0;
							display: block;
							color: #ffffff;
							span {
								margin-left: 30px;
								}
							&.facebook {
								background-color: #3e4764;
								-webkit-transition: background-color 300ms linear;
								-moz-transition: background-color 300ms linear;
								-o-transition: background-color 300ms linear;
								-ms-transition: background-color 300ms linear;
								transition: background-color 300ms linear;
								&:hover {
									background-color: #235B97;
									}
								.fa-facebook {
									color: #eaeaea;
									background-color: #505050;
									padding: 15px 19px 15px 18px;
									@media(max-width:767px){
										width:45px;
										}
									}
								}
							&.google-plus {
								background-color: #e66060;
								-webkit-transition: background-color 300ms linear;
								-moz-transition: background-color 300ms linear;
								-o-transition: background-color 300ms linear;
								-ms-transition: background-color 300ms linear;
								transition: background-color 300ms linear;
								&:hover {
									background-color: #EC574B;
									}
								.fa-google-plus {
									color: #eaeaea;
									background-color: #505050;
									padding: 15px;
									@media(max-width:767px){
										width:45px;
										}
									}
								}
							}
						}
					.signin,
					.reset {
						padding: 10px 15px;
						background-color: #FF8627;
						border: 1px solid #7A8086;
						color: #ffffff;
						-webkit-transition: background-color 300ms linear;
						-moz-transition: background-color 300ms linear;
						-o-transition: background-color 300ms linear;
						-ms-transition: background-color 300ms linear;
						transition: background-color 300ms linear;
						&:hover {
							background-color: #ff6610;
							}
						}
					}
				.form-header {
					padding: 20px 0;
					text-align: center;
					border-radius: 10px 10px 0 0;
					background-color: #ffffff;
					color:#505050;
					.fa {
						font-size: 50px;
						color: #ffffff;
						border-radius: 50%;
						border: 3px solid #E7E7E7;
						padding: 15px 20px;
						background: #f6f8f9;
						background: -moz-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
						background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f6f8f9), color-stop(50%, #e5ebee), color-stop(51%, #d7dee3), color-stop(100%, #f5f7f9));
						background: -webkit-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
						background: -o-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
						background: -ms-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
						background: linear-gradient(135deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f8f9', endColorstr='#f5f7f9', GradientType=1);
						&.fail {
							color: #FF8479;
							border: 3px solid #FF8479;
							-webkit-transition: color 200ms linear;
							-moz-transition: color 200ms linear;
							-o-transition: color 200ms linear;
							-ms-transition: color 200ms linear;
							transition: color 200ms linear;
							}
						&.success {
							color: #98CA4D;
							border: 3px solid #98CA4D;
							-webkit-transition: color 700ms linear;
							-moz-transition: color 700ms linear;
							-o-transition: color 700ms linear;
							-ms-transition: color 700ms linear;
							transition: color 700ms linear;
							}
						@media(max-width:767px){
							display:none;
							}
						}
					h1{
						@media(max-width:767px){
							margin:0;
							}
						}
					}
				.form-main {
					background-color: #505050;
					padding: 40px 50px;
					@media(max-width:767px){
						padding:10px;
						}
					}
				.form-footer {
					background-color: #404040;
					padding: 20px 50px;
					a {
						color: #999999;
						font-size: 10pt;
						&:hover {
							text-decoration: none;
							}
						}
					.fa {
						font-size: 10pt;
						color: #6f6f6f;
						border-radius: 50%;
						background-color: #505050;
						padding: 5px 8px;
						margin-right: 7px;
						}
					}
				}
			}
		}
	&.password-recovery{
		.wrap {
			padding-top: 250px;
			@media (max-width:767px) {
				padding-top: 0px;
				}
			.form-wrap {
				width: 100%;
				max-width: 800px;
				margin: 0 auto;
				.brand {
					text-align: center;
					margin-top: 10px;
					@media (max-width: 767px) {
						text-align: right;
						margin-top: 20px;
					  }
					h2 {
						font-size: 30px;
						font-weight: 700;
						color: #C0BFB5;
						@media (max-width: 767px) {
							margin-bottom: 0;
						  }
						}
					p {
						color: #C0BDB0;
						font-size: 13px;
						}
					}
				.horizontal-divider {
					margin: 0 auto;
					position: relative;
					width: 1px;
					height: 250px;
					background-color: #cccccc;
					}
				.main{
					@media (max-width: 767px) {
						margin-top: 50px;
						}
					h2 {
						font-size: 40px;
						margin-bottom: 20px;
						}
					form {
						margin-top: 30px;
						input {
							box-shadow: none;
							padding-left: 10px;
							margin-bottom: 20px;
							height: 45px;
							color: #505050;
							border-radius:0;
							&.form-control:focus {
								border: none;
								box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 112, 0, 0.6);
								-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 122, 0, 0.6);
								transition: border-color 0.7s, box-shadow 0.7s;
								-webkit-transition: border-color 0.7s, box-shadow 0.7s;
								}
							}
						.reset {
							padding: 10px 15px;
							border-radius: 3px;
							background-color: #FF8627;
							color: #ffffff;
							-webkit-transition: background-color 300ms linear;
							-moz-transition: background-color 300ms linear;
							-o-transition: background-color 300ms linear;
							-ms-transition: background-color 300ms linear;
							transition: background-color 300ms linear;
							border-radius:0;
							&:hover {
								background-color: #ff6610;
								}
							&:active {
								border-radius: 3px!important;
								}
							}
						}
					}
				}
			}
		}
	}
	
/* embeded animation */
@keyframes shake {
  8%,
  41% {
    transform: translateX(-10px);
  }
  25%,
  58% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  92% {
    transform: translateX(5px);
  }
  0%,
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes shake {
  8%,
  41% {
    -webkit-transform: translateX(-10px);
  }
  25%,
  58% {
    -webkit-transform: translateX(10px);
  }
  75% {
    -webkit-transform: translateX(-5px);
  }
  92% {
    -webkit-transform: translateX(5px);
  }
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes shake {
  8%,
  41% {
    -moz-transform: translateX(-10px);
  }
  25%,
  58% {
    -moz-transform: translateX(10px);
  }
  75% {
    -moz-transform: translateX(-5px);
  }
  92% {
    -moz-transform: translateX(5px);
  }
  0%,
  100% {
    -moz-transform: translateX(0);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/**************************************************************************************************/
/********************************************* FOOTER *********************************************/
/**************************************************************************************************/
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #fff;
	height: 49px;
	border-top: solid 1px #e7e7e7;
	line-height:46px;
	@media (max-width: 1299px){
		padding:0 15px;
		}
	ul.list-inline{
		margin:0;
		}
	a:hover{
		color:#ff8627;
		}
	[class*="col-"].text-right{
		@media (min-width: 768px){
			li > br{
				display:none;
				}
			}
		line-height: 18px;
		padding-top:5px;
		}
	}