<div class="container main-container headerOffset">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>La tua richiesta di disponibiltà è stata inviata con successo </h1>
           <div class="divider"></div>
          <a class="btn btn-primary" href="<?php echo $site_url; ?>">Torna allo shop </a>
          <div class="divider"></div>
          <img src="//cdn.negozy.com/negozy/Img/conferma-ordine.jpg" class="img-responsive" />
        </div>
      </div>
  	<div style="clear:both">  </div>
</div><!-- /.main-container -->