<ul class="list-group">
    <li  class="list-group-item"><a href="#/app/cron_log">Utenti</a></li>
    <li  class="list-group-item"><a href="#/app/cron_log/user_details">Dettagli Utenti</a></li>
    <li  class="list-group-item"><a href="#/app/cron_log/shops">Shops</a></li>
    <li  class="list-group-item"><a href="#/app/cron_log/jobs">Jobs</a></li>
    <li  class="list-group-item"><a href="#/app/cron_log/job_details">Dettagli Jobs</a></li>
    <li  class="list-group-item"><a href="#/app-store">App Store</a></li>
    <li  class="list-group-item"><a href="#/themes">Temi</a></li>
</ul>