
<div class="col-lg-9 col-md-9 col-sm-7">
    <h1 class="section-title-inner"><span> <a href="http://<?php echo $order['shop']['url']; ?>.negozy.com"> <i class="glyphicon glyphicon-shopping-cart"></i> <?php echo $order['shop']['name']; ?></a></span></h1>
</div>
<div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
    <!--<h4 class="caps"><a href="category.html"><i class="fa fa-chevron-left"></i> Back to shopping </a></h4>-->
</div>
<!--<img src="<?php echo $order['shop']['logo']; ?>" > -->