<ul class="list-group">
    <li  class="list-group-item"><a href="#/app/create_app"><?php echo __('Tutte');?></a></li>
    <li  class="list-group-item"><a href="#/app/create_app/user_details"><?php echo __('Tutte');?></a></li>
    <li  class="list-group-item"><a href="#/app/create_app/jobs"><?php echo __('Tutte');?></a></li>
</ul>