<div class="page-err">
    <div class="err-container">
        <div class="text-center">
            <div class="err-status">
                <h1>404</h1>
            </div>
            <div class="err-message">
                <h2><?php echo __("Pagina non trovata."); ?></h2>
            </div>
            <br >
            <br >
            <br >
            <br >
        </div>
    </div>
</div>