<div class="lapagina" data-ng-controller="ShipmentsCtrl">
    <div class="page-err">
        <div class="err-container">
            <div class="text-center">
                <div class="err-status">
                    <h1>300</h1>
                </div>
                <div class="err-message">
                    <h2><?php echo __("Errore client rilevato."); ?></h2>
                </div>
                <br >
                <br >
                <br >
                <br >
                <br >
                <br >
            </div>
        </div>
    </div>
</div>


