<ul class="list-group">
    <li class="list-group-item"><a href="#/app/negozy_to_facebook">Account</a></li>
    <li class="list-group-item"><a href="#/app/negozy_to_facebook/post">Posts</a></li>
</ul>